<!DOCTYPE html>
<html lang="en">

<head>
  <title>TO-DO Application</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="To Do template project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="super_container" style="background-color: rgb(37, 37, 37); height : 100%">
    <div class="jumbotron text-center">
      <h1>BUILD YOUR TO-DO LIST TODAY</h1>
      <p>Keep a track of all the wok you need to finish by the end of the day</p>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#Home">Create</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Tab panes -->
   <div class="container">
    <div class="tab-content" style="background-color: rgb(37, 37, 37);">
      <div class="tab-pane container active" id="Tasks" style="background-color: rgb(156, 156, 156);">
        <br><br>
        <form style="text-align: center;" method="post" action="/add" class="ui form">
          <h3 style="text-align: center; height : 50px; padding-top : 10px" class="bg-dark text-white">ADD A NEW TASK
          </h3>
          <input type="text" name="task" style="background-color: rgb(44, 44, 44);text-align: center;color: white;"
            placeholder="Enter to do task" class="form-control form-control-lg"><br>
          <button type="submit" style="align-self: center; width : 200px; height : 75px"
            class="btn btn-success">Add</button>
        </form>
        <br>
        <div class="container" style="background-color: rgb(156, 156, 156);">
          <table class="table table-dark">
            <thead>
              <tr>
                <th>
                  <p style="text-align: center;">Id</p>
                </th>
                <th>
                  <p style="text-align: center;">Task</p>
                </th>
                <th>
                  <p style="text-align: center;">Status</p>
                </th>
                <th>
                  <p style="text-align: center;">Action</p>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for todo in todo_list%}
              <tr>
                <td>
                  <p style="text-align: center;">{{todo.id}}</p>
                </td>
                <td>
                  <p style="text-align: center;">{{todo.task}}</p>
                </td>
                <td>
                  {% if todo.complete == True %}
                  <p class="bg-success text-white" style="text-align: center;">Completed</p>
                  {% else %}
                  <p class="bg-danger text-white" style="text-align: center;">Incomplete</p>
                  {% endif %}
                </td>
                <td>
                  <div class="text-center">
                    <a class="btn btn-primary" href="/update/{{ todo.id }}" role="button">Update</a>
                    <a class="btn btn-danger" href="/delete/{{ todo.id }}" role="button">Delete</a>
                  </div>
                </td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
          <br>
        </div>
      </div>
      <div class="tab-pane container fade" id="Home"></div>
    </div>
  </div>
</div>
</html>